@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
:root {
    font-family: 'Open Sans', sans-serif;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #676767;
    /* background-color: yellow; */
}
html {
    scroll-behavior: smooth;
}
h2, h3 {
    font-family: 'Libre Baskerville', serif;
    color: rgb(25, 23, 23);
}
p {
    color: #676767;
}
span {
    color: #deaf6f;
}
header {
    background-image: linear-gradient( rgba(118, 117, 116, .8), 
    rgba(118, 117, 117, 0.6) ), url(../img/head_background.jpeg);
    min-height: 900px;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.icon-xox {
    width: 100px;
    margin-top: 20px;
}

/* HEADER */

/* .collapse {
    display: flex;
    justify-content: center;
} */

.navigation {
    max-width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.free-estimate {
    padding-left: 10%;
    display: flex;
    justify-content: center;
}
.banner {
    margin-top: 20px;
}
.banner p {
    font-size: 1.15rem;
    color: white;
}
.banner h1 {
    font-size: 4.35rem;
    padding: 40px;
    font-family: 'Libre Baskerville', serif;
    font-size: 4.375rem;
    margin: auto;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 550;
}
.btn-call-me-back {
    display: flex;
    justify-content: center;
    margin: 80px;
}
.btn-call-me-back a {
    text-decoration: none;
    padding: 18px 30px;
    margin: 10px;
    border-radius: 0.12rem;
    color: white;
    text-align: center;
    transition: all 0.7s;
    background-color: #deaf6f;
}
.btn-call-me-back a:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}
.navbar-collapse .navbar-nav .nav-item a{
    color: white;
}
.navbar-collapse .navbar-nav .nav-item a:hover{
    color: orange;
}
 .btn-estimate a {
    display: block;
    color: white;
    border: 2px solid white;
    padding: 3px 17px;
    margin-left: 70px;
}
 .btn-estimate a:hover {
   text-decoration: none;
   display: block; 
   color: orange;
   border: 2px solid orange;
   padding: 3px 17px;
   margin-left: 70px;
}
.navbar-collapse {
    display: flex;
    justify-content: center;
}

/* SECTION PRE-VIEW */
.pre-view {
    padding-bottom: 60px;
}
.pre-view-top {
    margin: auto;
    padding: 30px 0px 40px 0px ;
}
.pre-view-top p, h2, img {
    margin: auto;
    padding: 10px;
}
.pre-view-top p {
    font-size: 1.15rem;
}
.list-item .mb-1 {
    color: #676767;
    font-size: 1.37rem;
    font-weight: bolder;
}
.list-item p {
    padding-left: 25px;
}

/* SECTION SERVICES */
.card {
    border: transparent;
}
.card-title {
    margin: 0px;
    padding: 10px;
    font-size: 1.375rem;
    color: #444240;
    font-family: 'Opes Sans', sans-serif;
}
.services{
    background-color: rgb(246, 250, 250);
    padding-bottom: 50px;
}
.services h2 {
    padding: 0px 0px 40px 0px;
}

/* SECTION SPECIES */
.wood-species-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.wood-species-top {
    margin: 10px;
}
.wood-species .card {
    padding: 0px;
    margin: 0px;
}
.wood-species .card p {
    position: relative;
    display: flex;
    justify-content: center;
    top: -17%;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
}
.wood-species .card-birch {
    filter: grayscale(1)
}
.wood-species .card-oak {
    filter: sepia(75%);
}
.wood-species .card-walnut {
    filter: sepia(1%);
}
.wood-species .card-cherry {
    filter: saturate(1.9);
}

/* SECTION FLOORING OPTIONS */
.accordion .card .card-header .mb-0 .btn {
    margin: 0px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: 1.375rem;
}
.accordion .card .card-header .mb-0 .btn img {
    width: 42px;
    margin: 0px;
}
.accordion .card .card-header .mb-0 .btn p {
    margin: 0px;
    padding: 20px;
    font-size: 1.375rem;
}    
.accordion .card .card-header .mb-0 .btn h2 {
   padding: 0px;
}    
.accordion .card .card-header .mb-0 .btn {
    border: transparent
}
.card-header {
    padding: 0px;
    background: transparent;
}
.flooring-options-top p {
    padding: 20px;
}
.accordion .card .card-header .mb-0 .btn p {
    font-family: 'Open Sans', sans-serif;
}
.accordion .card img{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 400px;
}
.mb-0 button{
    margin-top: 300px;
    height: auto;
    border: 10px solid red;
    box-shadow: transparent;
}
.picQ {
    display: flex;
    width: 97%;
}
 .col-lg-6, .col-xl-6 {
    padding: 0px;
    margin: auto;
}
.mb-0, .my-0 {
    padding: 10px;
}
.accordion .card .card-header .mb-0 .btn {
    margin:0;
}
.accordion .card .card-header .mb-0 .btn {
    border:none;
    box-shadow:none;
}
.accordion .card .card-header .mb-0 .btn {
    padding:0;
}
/* SECTION CALL-ME-BACK */
.call-form {
    /* min-height: 500px; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin-top: 100px;
}    
.call-form input, textarea{
   background-color: rgba(68, 66, 64, 0.12);
   border: 3px solid transparent;
   width: 80%;
   padding: 10px;
   margin: 10px;
   display: flex;
   justify-content: center;
}
.call-form input::placeholder{
    color: rgba(68, 66, 64, 0.22);
    font-weight: 300;
}
.call-form textarea::placeholder{
    color: rgba(68, 66, 64, 0.22);
    font-weight: 300;
}
.form-block {
    min-height: 900px;
    background-image: linear-gradient(rgba(118, 129, 116, 0.97), 
    rgba(118, 129, 116,.97) ), url(../img/block6.png);
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
}
.call-form .icon-xox {
    width: 100px;
    margin-top: 15px;
}
.call-form input:last-child {
    margin-top: 40px;
    color: white;
    background-color: gray;
}
.call-form input:last-child:hover {
    margin-top: 40px;
    color: white;
    background-color: #deaf6f;
}

/* SECTION ABOUT US */
.about-us-top{
    padding: 30px;
}
.about-us div div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about-us-in img{
    width: 95%;
    margin: 0px;
}
.about-us-in p{
    width: 90%;
    margin: 0px;
}

/* SECTION ACHIEVEMENTS */
.achievements .achievements-top h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.achievements-top  {
    padding: 40px 0px 20px 0px;    
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.achievements-list div {
    margin: auto;
    display: flex;
    justify-content: center;
}
.achievements-card {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.achievements-card p{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding: 15px;
    font-size: 1.15rem;
 }
.achievements-card h3{
   font-family: 'Open Sans', sans-serif;
   font-size: 3.45rem;
   font-weight: 700;
}
.all-testim-cards {
}
.testimonials {
    margin-bottom: 200px;

}
/* SECTION OUR WORKS */
.our-works {
    background-color: rgb(246, 250, 250);
}
.our-works-top  {
    padding: 10px 0px 20px 0px;    
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.our-works-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.double-pic img{
    padding: 10px 0px 12px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-padding {
    padding: 10px;
}
.nav-pills .nav-link.active, .nav-pills .show .nav-link {
    background-color: transparent;
    font-size: 1.15rem;
    color: #505050;
}
.nav-item a {
    color: #989592;
    font-size: 1.15rem;
    font-weight: lighter;
}
.nav-item a:hover {
    color: #505050;
    font-size: 1.15rem;
    font-weight: lighter;
}

/* SECTION TESTIMONIALS */
.testimonials {
    background-image: linear-gradient(rgba(118, 129, 116, 0.97), 
    rgba(118, 129, 116,.97) ), url(../img/block6.png);
    background-attachment: fixed;
    /* background-color: rgb(187, 196, 150); *7
    /* background-image: url(../img/block6.png); */
    background-size: cover;
    margin: 50px 0px;
    padding: 50px 0px 100px 0px;
}
.testimonials-top .icon-xox{
    margin-top: 40px;
    width: 130px;
}
.testimonials-top h2{
    color: white;
    padding: 10px 0px 50px 0px;
}
.testimonials-img img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 50px 0px 0px 0px;
}
.testimonial-card{
    padding: 0px;
}
.testimonial-card .card-body p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
}
.testimonial-card .card-body p:last-child{
    color: #989592;
    font-size: 14px;
}
.all-testim-cards {
    margin: 0px;
    width: auto;
    display: flex;
    justify-content: center;
    padding: 0px;
}
.testimonial-card-in {
    background-color: white;
    margin: 10px;
}

/* SECTION BLOG */
.blog-top {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.blog-top h2 {
    color: #444240;
}
.blog-area {
    border: 1px solid rgba(33, 39, 54, 0.12);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: rgba(80, 80, 80, 0.9);
    font-weight: lighter;
    margin: 10px 0px 85px 0px
}

/* SECTION CONTACTS */
.contacts {
    background-image: linear-gradient( rgba(118, 117, 116, .3), 
    rgba(118, 117, 117, 0.9) ), url(../img/block6.png);
    background-color: rgba(0, 0, 0, 0.72);
    background-attachment: fixed;
    background-size: cover;
}
.contacts-working-time {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 5px;
}
.contacts-working-time div {
    margin: 7px 0px;
}
.contacts-working-time div .a-h-c{
    font-size: 1.4rem;
    font-weight: 300;
    display: flex;
    align-items: center;
}
.contacts-and-map {
    margin: 0px;
    padding: 20px 10px;
}
.map {
    width: 100%;
}
.contacts-items, .contacts-items p{
    margin: 0px;
    color: white;
}
.contacts-items h2 {
    color:  white;
    margin: 0px;
    padding: 0px;
}
.form-cont {
    padding: 5px 10px;
    max-height: 862px;
    margin: 0px;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.estimation-form {
    margin-top: 0px;
    padding: 20px;
    height: 775px
}
.estimation-form h2 {
    margin: 70px;
}
.form-out {
    width: 100%;
    padding: 0px;
}

/* SECTION FOOTER */
.footer {
    background-color: rgba(118, 129, 116, 1);
}
.footer .navigation {
    border: 3px solid red;
    padding: 0px;
}
.footer .navigation .navbar-brand img{
    padding: 0px;
    width: 30%;
}
.footer .collapse .navbar-nav{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer a {
    font-size: 16px;
}
.footer a:hover {
    font-size: 16px;
}
.rights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    /* flex-direction: column; */
    
}
.rights-background {
    background-image: linear-gradient( rgba(118, 117, 116, .3), 
    rgba(118, 117, 117, 0.9) ), url(../img/block6.png);
    background-color: rgba(0, 0, 0, 0.72);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
}

.footer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 10px;
}
.footer2 img {
    padding: 0px;
}
.footer-nav div a{
    color: white;
    font-size: 14px;
}
.footer-nav div a:hover{
    color: orange;
}
.footer-nav {
    display: flex;
    justify-content: flex-end;
}
.footer-clocks div{
    padding-left: 10px;
}
/* --JS-- */
/* .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-back {
    border: 2px solid green;
    font-size: 14px;
    color: orange;
    background-color: transparent;
}

.btn-back:hover {
    color: white;
    background-color: orange;
    cursor: pointer;
}

.btn-next {
    border: 2px solid green;
    font-size: 14px;
    color: orange;
    background-color: transparent;
}

.btn-next:hover {
    color: white;
    background-color: orange;
    cursor: pointer;
} */