@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
:root {
    font-family: 'Open Sans', sans-serif;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #676767;
}
p {
    color: #676767;
}
header {
    background-image: linear-gradient( rgba(118, 117, 116, .8), 
    rgba(118, 117, 117, 0.6) ), url(../img/head_background.jpeg);
    min-height: 900px;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.icon-xox {
    width: 100px;
    margin-top: 20px;
}
.collapse {
    display: flex;
    justify-content: center;
}
.free-estimate {
    padding-left: 10%;
    display: flex;
    justify-content: center;
}
.banner {
    margin-top: 20px;
}
.banner p {
    font-size: 1.15rem;
    color: white;
}
.banner h1 {
    font-size: 4.35rem;
    padding: 40px;
    font-family: 'Libre Baskerville', serif;
    font-size: 4.375rem;
    margin: auto;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 550;
}
h2, h3 {
    font-family: 'Libre Baskerville', serif;
    color: rgb(25, 23, 23);
}
.btn-call-me-back {
    display: flex;
    justify-content: center;
    margin: 80px;
}
.btn-call-me-back a {
    text-decoration: none;
    padding: 18px 30px;
    margin: 10px;
    border-radius: 0.12rem;
    color: white;
    text-align: center;
    transition: all 0.7s;
    background-color: #deaf6f;
}
.btn-call-me-back a:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}
.navbar-collapse .navbar-nav .nav-item a{
    color: white;
}
.navbar-collapse .navbar-nav .nav-item a:hover{
    color: orange;
}
 .btn-estimate a {
    display: block;
    color: white;
    border: 2px solid white;
    padding: 3px 17px;
    margin-left: 70px;
}
 .btn-estimate a:hover {
   text-decoration: none;
   display: block; 
   color: orange;
   border: 2px solid orange;
   padding: 3px 17px;
   margin-left: 70px;
}
.top-first-section {
    margin: auto;
    padding: 30px 0px 40px 0px ;
}
.top-first-section p, h2, img {
    margin: auto;
    padding: 10px;
}
.top-first-section p {
    font-size: 1.15rem;
}
.list-item .mb-1 {
    color: #676767;
    font-size: 1.37rem;
    font-weight: bolder;
}
span {
    color: #deaf6f;
}
.card {
    border: transparent;
}
.card-title {
    margin: 0px;
    padding: 10px;
    font-size: 1.375rem;
    color: #676767;
    font-family: 'Opes Sans', sans-serif;
}
.services{
    background-color: rgb(246, 250, 250);
    padding-bottom: 50px;
}
.services h2 {
    padding: 0px 0px 40px 0px;
}
.wood-species-list{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navigation {
    max-width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.wood-species .card p {
    position: relative;
    display: flex;
    justify-content: center;
    top: -17%;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
}
.wood-species .card {
    padding: 0px;
}
.wood-species .card-birch {
    filter: grayscale(1)}
.wood-species .card-oak {
    filter: sepia(75%);
}
.wood-species .card-walnut {
    filter: sepia(1%);
}
.wood-species .card-cherry {
    filter: saturate(2.4);
}
.wood-species-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.wood-species-top {
    margin: 10px;
}
.accordion .card .card-header .mb-0 .btn {
    margin: 0px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: 1.375rem;
}
.accordion .card .card-header .mb-0 .btn img {
    width: 42px;
    margin: 0px;
}
.accordion .card .card-header .mb-0 .btn p {
    margin: 0px;
    padding: 20px;
    font-size: 1.375rem;
}    
.accordion .card .card-header .mb-0 .btn h2 {
   padding: 0px;
}    
.accordion .card .card-header .mb-0 .btn {
    border: transparent
}
.card-header {
    padding: 0px;
    background: transparent;
}
.flooring-options-top p {
    padding: 20px;
}
.accordion .card .card-header .mb-0 .btn p {
    font-family: 'Open Sans', sans-serif;
}
.accordion .card img{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 400px;
}
.mb-0 button{
    margin-top: 300px;
    height: auto;
    border: 10px solid red;
    box-shadow: transparent;
}
.picQ {
    display: flex;
    width: 97%;
}
 .col-lg-6, .col-xl-6 {
    padding: 0px;
    margin: auto;
}
.mb-0, .my-0 {
    padding: 10px;
}
.accordion .card .card-header .mb-0 .btn {
    margin:0;
}
.accordion .card .card-header .mb-0 .btn {
    border:none;
    box-shadow:none;
}
.accordion .card .card-header .mb-0 .btn {
    padding:0;
}
/* #SECTION CALL-ME-BACK */
.call-form {
    min-height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin-top: 100px;
}    
.call-form input, textarea{
   background-color: rgba(68, 66, 64, 0.12);
   border: 3px solid transparent;
   width: 80%;
   padding: 10px;
   margin: 10px;
   display: flex;
   justify-content: center;
}
.form-block {
    min-height: 900px;
    background-color: burlywood;
    background-image: url(../img/block6.png);
    background-size: cover;
    background-attachment: fixed;
}
.call-form .icon-xox {
    width: 100px;
    margin-top: 15px;
}
.call-form input:last-child {
    margin-top: 40px;
    color: white;
    background-color: gray;
}

/* #SECTION ABOUT US */
.about-us-top{
    padding: 30px;
}
.about-us div div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about-us-in img{
    width: 95%;
    margin: 0px;
}
.about-us-in p{
    width: 90%;
    margin: 0px;
}

/* #SECTION ACHIEVEMENTS */
.achievements .achievements-top h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.achievements-top  {
    padding: 40px 0px 20px 0px;    
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.achievements-list div {
    margin: auto;
    display: flex;
    justify-content: center;
}
.achievements-card {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.achievements-card p{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding: 15px;
    font-size: 1.15rem;
 }
.achievements-card h3{
   font-family: 'Open Sans', sans-serif;
   font-size: 3.45rem;
   font-weight: 700;
}

/* #SECTION OUR WORKS */
.our-works-top  {
    padding: 40px 0px 20px 0px;    
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.our-works-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.double-pic img{
    padding: 10px 0px 12px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-padding {
    padding: 10px;
}
