@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
:root {
    font-family: 'Open Sans', sans-serif;
}
p{
    color: #676767;
}

header {
    background-image: linear-gradient( rgba(118, 117, 116, .8), 
    rgba(118, 117, 117, 0.6) ), url(../img/head_background.jpeg);
    min-height: 900px;
    margin: auto;
    background-size: cover;
    background-position: center;
}

.icon-xox {
    width: 100px;
    margin-top: 60px;
}
.collapse {
    display: flex;
    justify-content: center;
}
.free-estimate {
    padding-left: 10%;
    display: flex;
    justify-content: center;
}
.banner {
    margin-top: 20px;
}

.banner p {
    font-size: 1.15rem;
    color: white;
}
.banner h1 {
    font-size: 4.35rem;
    padding: 40px;
    font-family: 'Libre Baskerville', serif;
    font-size: 4.375rem;
    margin: auto;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 550;
}
h2, h3 {
    font-family: 'Libre Baskerville', serif;
}
.btn-call-me-back {
    display: flex;
    justify-content: center;
    margin: 80px;
}
.btn-call-me-back a {
    text-decoration: none;
    padding: 18px 30px;
    margin: 10px;
    border-radius: 0.12rem;
    color: white;
    text-align: center;
    transition: all 0.7s;
    background-color: #deaf6f;
}
.btn-call-me-back a:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}
.navbar-collapse .navbar-nav .nav-item a{
    color: white;
}
.navbar-collapse .navbar-nav .nav-item a:hover{
    color: orange;
}
 .btn-estimate a {
    display: block;
    color: white;
    border: 2px solid white;
    padding: 3px 17px;
    margin-left: 70px;
}

 .btn-estimate a:hover {
   text-decoration: none;
   display: block; 
   color: orange;
   border: 2px solid orange;
   padding: 3px 17px;
   margin-left: 70px;
}
.top-first-section {
    margin: auto;
    padding: 30px 0px 40px 0px ;
}
.top-first-section p, h2, img {
    margin: auto;
    padding: 10px;
}
.top-first-section p {
    font-size: 1.15rem;
}
.list-item .mb-1 {
    color: #676767;
    font-size: 1.37rem;
    font-weight: bolder;
}
span {
    color: #deaf6f;
}
.card {
    border: transparent;
}
.services{
    background-color: rgb(246, 250, 250);
    padding-bottom: 50px;
}
.wood-species-list{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* .clock-label {
    color: peachpuff;
    font-size: 1.3rem;
    margin-right: 60px;
    display: flex;
    justify-content: flex-end;
} */
.countdown-to-new-year {
    color: rgb(202, 210, 184);
    font-size: 3rem;
    display: flex;
    justify-content: center;
}
.new-year-label {
    color: rgb(191, 205, 163);
    font-size: 3rem;
    display: flex;
    justify-content: center;
}
.clock {
    color: rgb(214, 214, 195);
    max-width: 910px;
    font-size: 1.2rem;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.clock-label {
    color: rgb(214, 214, 195);
    max-width: 955px;
    font-size: 1.2rem;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.navigation {
    max-width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.wood-species .card p {
    position: relative;
    display: flex;
    justify-content: center;
    top: -17%;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
}
.wood-species .card {
    padding: 0px;
}
.wood-species .card-birch {
    filter: grayscale(1);
}
.wood-species .card-oak {
    filter: sepia(75%);
}
.wood-species .card-walnut {
    filter: sepia(1%);
}
.wood-species .card-cherry {
    filter: saturate(2.4);
}
.wood-species-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.accordion .card .card-header .mb-0 .btn {
    margin: 0px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: 1.375rem;
}
.accordion .card .card-header .mb-0 .btn img {
    width: 42px;
    margin: 0px;
    /* background: orangered; */
}
.accordion .card .card-header .mb-0 .btn p {
    margin: 0px;
    padding: 20px;
    font-size: 1.375rem;
}    
.accordion .card .card-header .mb-0 .btn h2 {
   padding: 0px;
}    

.accordion .card .card-header .mb-0 .btn {
    
    border: transparent
}
.card-header {
    padding: 0px;
    background: transparent;
}
.flooring-options-top {
    padding: 20px;

}
.newY {
    display: flex;
    justify-content: center;
    /* background: red; */
    padding: 0px;
    text-decoration: none;
    
}
.newX {
    display: flex;
    justify-content: center;
margin: auto;    
}
.year {
    font-size: 00px;
    z-index: -1;
    opacity: 0.2;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .countdown {
    display: flex;
    justify-content: center;
    /* display: none; */
    transform: scale(2);
  }
  
  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    color: rgb(78, 95, 116);;
  }
  .newX .accordion .r .collapse .card-body h1 {
    margin: 0 0 5px;
    color: rgb(32, 109, 109);
    font-size: 4.35rem;
    padding: 40px;
    font-family: 'Libre Baskerville', serif;
    font-size: 4.375rem;
    margin: auto;
    display: flex;
    justify-content: center;
    font-weight: 550;
  }
  
  .time h2 {
    margin: 0 0 5px;
  }
  
  @media (max-width: 500px) {
    .newX .accordion .r .collapse .card-body h1 {
      font-size: 45px;
    }
  
    .time {
      margin: 5px;
    }
  
    .time h2 {
      font-size: 12px;
      margin: 0;
    }
  
    .time small {
      font-size: 10px;
    }
  }
  .btn-player a {
    display: block;
    color: rgb(32, 109, 109);
    font-size: 2.5rem;
    border: 2px solid rgb(32, 109, 109);
    padding: 20px ;
    margin-top: 70px;
}

 .btn-player a:hover {
   text-decoration: none;
   display: block; 
   font-size: 2.55rem;
   color: rgb(32, 109, 109);
   border: 3px solid rgb(32, 109, 109);
   padding: 20px;
}
  